.card{
  display: flex;
  height:50vh;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0.5px;
  background-color: white;
}

.title{
  font-weight: bold; 
  font-size: 30px;
  margin-bottom: 30px;
}

.cardImg{

  margin:20px;
  width:100%;
  overflow: hidden;
}

.card-data{
  width:100%;
  margin:20px;
}

.price{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}