/* .hide{
    display: none;
}

.dd-btn{
    background: #fff;
    outline: none;
    border: none;
}
.dropdown{
    display: flex;
    flex-direction: column;
    z-index: 123123;
} */

.dropdown {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: 5vh;
}
#dropdown {
  cursor: pointer;
  padding: 0 15px;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

option:first {
  color: #999;
}
